/******* Table of contents ********* 

1. Header
2. Banner
3. Popular Course
4. About Section
5. Team
6. Footer

*/

/* 
font-family: 'Poppins', sans-serif; 
font-family: 'Hind', sans-serif;

*/

/* moduls */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section_title{

}
.section_title .title{ 
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 40px; 
    font-weight: 700;
    color: #2C2C31;
}
/* header start */
.custom_header .search_bar.input-group{
    width: auto;
}
.custom_header .logo{}
.custom_header .custom_menu{
    margin-right: 30px;
}
.custom_header .custom_menu li{}
.custom_header .custom_menu li a{
    font-family: 'Hind Siliguri', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #343535;
    text-transform: capitalize;
    line-height: 25.87px;
    padding: 10px;
} 
.search_Cart_Login {
	display: flex;
}
.search_Cart_Login .cart .cart_icon {
	color: #252A71;
	text-decoration: none;
	width: 50px;
	height: 50px;
	background-color: #F1F6FF;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 0 7.5px;
}
.search_Cart_Login .login_registration {
	color: #ffffff;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
	text-decoration: none; 
	height: 50px;
	background-color: #252A71;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 0 7.5px;
    padding: 0 20px;
}
.custom_header .search_bar button { 
	border: none;
	color: #193170;
	width: 50px;
	height: 50px;
	background: #F1F6FF;
	border-radius: 50% !important;
    margin: 0px 7.5px;
}
.custom_header .search_bar input{
    background-color: transparent;
    border: none;
}
.custom_header .search_bar button:focus,
.custom_header .search_bar input:focus{
    box-shadow: unset;
}
.custom_header .search_bar input::placeholder{
    color: #898989;
    font-size: 14px;
    line-height: 79px;
    font-family: 'Hind Siliguri', sans-serif;
}
.navbar-toggler:focus {
	text-decoration: none;
	outline: 0;
	box-shadow: unset;
}
/* header end */

/* Banner start */
.banner{
    padding: 150px 0 150px;
}
.banner .banner_left{}
.banner .banner_left .banner_title{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 60px;
    color: #2C2C31;
    line-height: 80px;
    font-weight: 700;
    margin-bottom: 50px;
}
.banner .banner_left .banner_title span{
    color: #f3811f;
}
.banner .banner_left .all_course_btn{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 66px;
    text-decoration: none;
    min-width: 226px;
    display: inline-block;
    text-align: center;
    border-radius: 92px;
    background: #252A71;
    transition: all .2s ease-in-out;
}
.banner .banner_left .all_course_btn:hover{
    background: #3E48CA;
    transform: translateY(-2px) scale(1.02);
}
.banner .banner_left .all_course_btn i{
    margin-left: 8px;
}
.banner .banner_right{
    position: relative;
    min-height: 300px;
}
.banner .banner_right img {
	position: absolute;
	top: -26%;
	left: 23%;
	z-index: -1;
	width: 70%;
}
/* Banner end */

/* Popular Course start*/
.popular_course{
    padding: 40px 0;   
}
.courses{
    margin-top: 60px;
}
.courses .single_course { 
	border-radius: 10px;
	margin-bottom: 30px;
	margin-left: 6px;
	margin-right: 6px;
    transition: all .4s ease-in-out;
}
.courses .single_course:hover{ 
    box-shadow: 0 5px 5px -2px rgba(0,0,0,.3);
    transform: translateY(-5px);
}
.courses .single_course .course_image{
    background-color: #d3e6fc;
    border-radius: 10px 10px 0 0;
    text-align: center;
    overflow: hidden; 
}
.courses .single_course .course_image img{
    width: 100%;
}
.courses .single_course .course_description{
    border: 1px solid #EAE9E9;
    border-radius: 0px 0px 10px 10px;
}
.courses .single_course .course_description .course_name{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px; 
    font-weight: 500; 
    color: #2C2C31;
    padding: 15px;
    text-align: center;
}
.courses .single_course .course_description .course_name a{
    text-decoration: none;
    color: #193170;
}
.courses .single_course .course_description .price_and_viewMore{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #EAE9E9;
}
.courses .single_course .course_description .price_and_viewMore .price{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px; 
    font-weight: 500;
    color: #252A71;
    margin: 0;
} 
.courses .single_course .course_description .price_and_viewMore .viewMore{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px; 
    font-weight: 500;
    color: #252A71;
    text-decoration: none;
} 
.courses .single_course .course_description .price_and_viewMore .viewMore i{
    margin-left: 5px;
}
/* Popular Course end*/
 
/* our courses start*/
.our_courses{
    background: #F6F7F9;
    padding: 40px 0;
}
.our_courses .all_courses{ 
    margin-top: 30px;
}
.our_courses .all_courses .single_course{ 
    background: #ffffff;
    border-radius: 16px;
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 6px;
    margin-right: 6px;
    transition: all .4s ease-in-out;
}
.our_courses .all_courses .single_course:hover {
	box-shadow: 0 5px 5px -2px rgba(0,0,0,.3);
	transform: translateY(-5px);
}
.our_courses .all_courses .single_course .course_image {
	width: 100px;
	height: 100px;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 30px;
}
.our_courses .all_courses .single_course .course_image.bg_1{
    background: #00A47633;
}
.our_courses .all_courses .single_course .course_image.bg_2{
    background: #FDB82733;
}
.our_courses .all_courses .single_course .course_image.bg_3{
    background: #6810FF33;
}
.our_courses .all_courses .single_course .course_image img{ 

}
.our_courses .all_courses .single_course .course_description{ 

}
.our_courses .all_courses .single_course .course_description .course_name{ 
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 24px; 
    font-weight: 600;
    color: #2C2C31;
}
.our_courses .all_courses .single_course .course_description .course_name a{ 
    text-decoration: none;
    color: #2C2C31;
}
.our_courses .all_courses .single_course .course_description .course_detail p{ 
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px; 
    font-weight: 400;
    color: #4B6587;
    line-height: 175%;
}

/* our courses end*/

/* testimonial start */
.testimonial{
    padding: 40px 0;
}
.testimonial .testimonial_container {
	padding-top: 30px;
}
.testimonial .testimonial_container .testimonial_item{ 
    padding-top: 50px;
}
.testimonial .testimonial_container .testimonial_item .item_wraper{
    border: 1px solid #EFECF4;
    margin: 0px 15px;
    padding: 20px;
}
.testimonial_title{
    display: flex;
    justify-content: space-between;
}
.slider_controlar{
    display: flex;
}
.slider_controlar .prev{
    width: 55px;
    height: 55px;
    border: 1px solid #EDEEEF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;    
}
.slider_controlar .next{
    width: 55px;
    height: 55px;
    border: 1px solid #EDEEEF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}
.slider_controlar .bg_arrw {
    background: #252A71 !important;
    color: #ffffff; 
}
 
.testimonial .testimonial_container .testimonial_item .item_wraper .guardian_profile{
    width: 100px;
    margin: auto;
    position: relative;
}

.testimonial .testimonial_container .testimonial_item .item_wraper .guardian_profile .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    margin: auto;
    overflow: hidden; 
    transform: translateY(-70%);
}
.testimonial .testimonial_container .testimonial_item .item_wraper .guardian_profile .quote {
	position: absolute;
	font-size: 45px;
	color: #252a71;
	top: -3%;
	left: 62%;
}
.testimonial .testimonial_container .testimonial_item .item_wraper .profile_description {
	text-align: center;
	border-bottom: 1px solid #EFECF4;
	padding: 0px 0 20px 0;
	margin-top: -30px;
}
.testimonial .testimonial_container .testimonial_item .item_wraper .profile_description .name{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #242424;
}
.testimonial .testimonial_container .testimonial_item .item_wraper .profile_description .work{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color:#636E74;
}
.testimonial .testimonial_container .testimonial_item .item_wraper .guardian_rating{}
.testimonial .testimonial_container .testimonial_item .item_wraper .guardian_rating .rating_icon{
    display: flex;
    padding: 0;
    margin-top: 20px;
}
.testimonial .testimonial_container .testimonial_item .item_wraper .guardian_rating .rating_icon li{
    list-style: none;
    margin: 0 3px;
}
.testimonial .testimonial_container .testimonial_item .item_wraper .guardian_rating .rating_icon li i{
    color: #FAB33F;
}
.testimonial .testimonial_container .testimonial_item .item_wraper .guardian_rating .rating_description p{
    color: #636E74;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}
/* testimonial end */

/* newsletter start */
.newsletter {
    text-align: center;
	padding: 30px 0;
    background: #F6F7F9;
}
.newsletter .news_title{
    font-family: 'Hind Siliguri';
    font-style: normal;
    color: #242424;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
}
.newsletter .news_subtitle{
    font-family: 'Hind Siliguri';
    font-style: normal;
    color: #242424;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 20px;
}
.newsletter .newsletter_form form {
	max-width: 564px;
	margin: auto;
	position: relative;
}
.newsletter .newsletter_form form input {
	width: 100%;
	border: 1.5px solid #252A71;
	border-radius: 32.5px;
	height: 64px;
	padding: 0 30px; 
    color: #252A71;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
}
.newsletter .newsletter_form form input::placeholder{
    color: #252A71;
}
.newsletter .newsletter_form form input:focus{
    border-color: #252A71;
}
.newsletter .newsletter_form form .news_btn {
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 175%; 
	color: #FFFFFF;
	text-transform: capitalize;
	background: #252A71;
	text-decoration: none;
	display: inline-block;
	padding: 12px 26px;
	border-radius: 155px;
	border: 0;
	position: absolute;
	top: 50%;
	right: 1%;
	transform: translateY(-50%);
	transition: all .3s ease-in-out;
}
.newsletter .newsletter_form form .news_btn:hover {
	color: #ffffff;
	background: #3E48CA;
}
/* newsletter end */

/* about start */
.about{
    padding: 40px 0;
    background: #f6f7f9;
}
.about_content{
    padding: 30px 0;
}
.about_content .about_image {
	margin-right: 50px;
}
.about_content .about_image img{
    width: 100%;
}
.about_content .about_description{}
.about_content .about_description .sub_title{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #252A71;
    margin-bottom: 25px;
}
.about_content .about_description .title{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: #2C2C31;
    margin-bottom: 20px;
}
.about_content .about_description p{
    color: #4B6587;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
}
.about_content .about_description .features{}
.about_content .about_description .features ul{
    padding: 0;
    list-style: none;
    max-width: 500px;
}
.about_content .about_description .features ul li span{
    color: #2C2C31;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 34px;
    text-align: center;
    margin: 10px 10px 10px 0px;
    display: block;
}
.about_content .about_description .viewMore{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    color: #ffffff; 
    text-decoration: none;
    min-width: 226px;
    display: inline-block;
    text-align: center;
    border-radius: 92px;
    background: #252A71;
    padding: 15px 20px;
    transition: all .2s ease-in-out;
    margin-top: 20px;
}
.about_content .about_description .viewMore:hover{
    background: #3E48CA;
    transform: translateY(-2px) scale(1.02);
}

.professional_trainer{
    padding: 40px 0 0;
} 
.professional_trainer .trainer_slider{
    padding-top: 30px; 
} 
.single_trainer {
	border-radius: 14px;
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
	transition: all .4s ease-in-out;
    background: #ffffff;
    overflow: hidden;
    text-align: center;
}
.single_trainer .trainer_image img{
    width: 100%;
}
.single_trainer .trainer_description{
    padding: 20px 15px;
}
.single_trainer .trainer_description .trainer_name{
    color: #343535;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
}
.single_trainer .trainer_description .trainer_name a{
    text-decoration: none;
    color: #343535;
}
.single_trainer .trainer_description .trainer_education{
    color: #4B6587;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
}
.slider_controlar .previous{
    width: 55px;
    height: 55px;
    border: 1px solid #EDEEEF;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;    
}
.slider_controlar .next_btn{
    width: 55px;
    height: 55px;
    border: 1px solid #EDEEEF;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}
.professional_title {
	display: flex;
	justify-content: space-between;
}
/* about end */

/* course list start */
.course_list{
    background: #F6F7F9;
}
.course_list .single_course{
    background: #ffffff;
}
.course_list .course_list_title form input{
     border: 1px solid #6B7AA14D;
     border-radius: 30px;
     padding: 8px 20px;
     color: #343535;
     font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    min-width: 305px;
}
.course_list .course_list_title{
    display: flex;
    justify-content: space-between;
}
.course_list .courses{
    margin-top: 40px;
}
/* course list end */

/* professional trainer start */
.professional_trainer{
    background: #F6F7F9;

}
.professional_trainer .all_trainer{
    margin-top: 30px;
}
.professional_trainer .all_trainer .single_trainer{
    margin-left: 6px;
    margin-right: 6px;
}
.pagination{
    padding-bottom: 30px; 
}
.pagination ul {
	padding: 0;
	list-style: none;
	display: flex;
	margin: auto;
}
.pagination ul li{ 
}
.pagination .previous-page{
    width: 55px;
    height: 55px;
    border: 1px solid #EDEEEF;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;    
}
.pagination .next-page{
    width: 55px;
    height: 55px;
    border: 1px solid #EDEEEF;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}
.pagination .bg_arrw {
    background: #252A71 !important;
    color: #ffffff; 
}
/* professional trainer end */

/* about trainer start */
.about_trainer{
    background: #F6F7F9;
    padding: 40px 0;
    margin-bottom: 40px;
}
.about_trainer .trainer_details{}
.about_trainer .trainer_description{}
.about_trainer .trainer_description .trainer_name a{
    text-decoration: none;
    color: #2C2C31;

}
.about_trainer .trainer_description .trainer_name{
    color: #2C2C31;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    margin: 24px 0 20px;
}
.about_trainer .trainer_description .trainer_education{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2C2C31;
}
.about_trainer .trainer_description .trainer_designation{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2C2C31;

}
.about_trainer .single_trainer{
    border-radius: unset;
    margin: 0;
}
/* about trainer end */

/* contact page start */
.contact{
    background: #F6F7F9;
    padding: 40px 0;
}
.contact_area{
    padding-top: 30px;
}
.contact_area .form_area{
    background: #ffffff;
    padding: 50px;
    margin-right: 40px;
}
.contact_area .form_area .title{
    color: #010101;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 20px;
}
.contact_area .form_area p{
    color: #2C2C31;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}
.contact_area .form_area form{}
.contact_area .form_area form input,
.contact_area .form_area form textarea{
    width: 100%;
    padding: 20px 0;
    border: none;
    border-bottom: 1px solid rgba(107, 122, 161, 0.3);
    color: #2C2C31;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
}
.contact_area .form_area form input:focus-visible,
.contact_area .form_area form textarea:focus-visible{
   outline: none;
}
.contact_area .form_area form textarea{
    resize: none;
}
.contact_area .form_area form button{
    color: #ffffff;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    text-decoration: none;
    background-color: #252A71;
    border-radius: 92px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px 30px;
    border: none;
    transition: all .2s ease-in-out;
    margin-top: 30px;
}
.contact_area .form_area form button:hover{
    background: #3E48CA;
    transform: translateY(-2px) scale(1.02);
}
.contact_area .contract_info{
    margin-left: 40px;
}
.contact_area .contract_info .info_item{}
.contact_area .contract_info .info_item .item_icon{
    width: 100px;
    height: 100px;
    border-radius: 12px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_area .contract_info .info_item .item_icon.bg_1{
    background: #E6F5EE;
}
.contact_area .contract_info .info_item .item_icon.bg_2{
    background: #DFF4FC;
}
.contact_area .contract_info .info_item .item_icon.bg_3{
    background: #FEE9E7;
}
.contact_area .contract_info .info_item .item_icon.bg_1 i{
    color: #27A067;
}
.contact_area .contract_info .info_item .item_icon.bg_2 i{
    color: #1EA5EB;
}
.contact_area .contract_info .info_item .item_icon.bg_3 i{
    color: #F23733;
}
.contact_area .contract_info .info_item .item_icon i{
    font-size: 35px;
}
.contact_area .contract_info .info_item .info_title{
    color: #2C2C31;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}
.contact_area .contract_info .info_item .info_description{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    color: #2C2C31;
}
/* contact page end */

/* faq page start */
.faq {
	background: #F6F7F9; 
	padding: 30px 0 40px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}
.faq_area {
	margin-top: 30px;
}
.faq_area .accordion-item {
	margin-bottom: 10px;
    border: 1px solid #2C2C31;
    border-radius: 10px;
}
.faq_area .accordion-body{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #373737;
}
.faq_area .accordion-button{
    border-radius: 10px;
    box-shadow: unset;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
	color: #2C2C31; 
	background-color: #ffffff;
}
.faq_area .accordion-button:not(.collapsed) {
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
	color: #2C2C31; 
	background-color: #ffffff;
	box-shadow: unset;
}
.faq_area .accordion-item:first-of-type .accordion-button {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.faq_area .accordion-item:last-of-type .accordion-button.collapsed {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

/* faq page end */

/* course details start */
.course_details{
    background: #F6F7F9;
    padding: 40px 0;
}
.course_details .course_details_wrapper{}
.course_details .course_details_wrapper .course_menu{
    background-color: #ffffff;
    display: inline-block;
    border-radius: 8px;
    margin: 30px 0;
}
.course_details .course_details_wrapper .course_menu ul{
    list-style: none;
    padding: 12px 12px 12px 0px;
    margin: 0;
    display: flex; 
    
}
.course_details .course_details_wrapper .course_menu ul li{
    color: #2C2C31;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px; 
    text-transform: capitalize;
    padding: 10px 3px;
    box-sizing: border-box;
    width: 160px;
    background: #F1F6FF;
    border-radius: 8px; 
    text-align: center;
    display: inline;
    margin-left: 12px;
    cursor: pointer;
}
.course_details .course_details_wrapper .course_menu .course_title_tab.active{
    background: #252A71;
    color: #FFFFFF;
}
.course_details .course_details_wrapper .course_content{}
.course_details .course_details_wrapper .course_content .tab_content{
    display: none;
}
.course_details .course_details_wrapper .course_content .tab_content.active{
    display: block;
}
.course_details .course_details_wrapper .course_content{
    font-family: 'Hind Siliguri';
    font-size: 16px;
}
.course_details .course_intro{}
.course_intro .intro_video{
    position: relative;  
}
.course_details .course_intro .intro_video img{
    width: 100%;  
}
.course_intro .intro_video .overlay {
	position: absolute;
	background-color: rgba(0,0,0,.4);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.course_intro .intro_video .overlay a{
    position: relative;
}
.course_intro .intro_video .overlay a::after {
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	content: '';
	background-color: white;
	height: 100%;
	width: 100%;
	animation: Iconfocus 1s infinite;
}
.cart-totals{
    background: #ffffff;
}
.cart-totals ul{
    list-style: none;
    padding: 0;
    
}
.cart-totals ul li{
    color: #2C2C31;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
    border-bottom: 1px solid #BDBDBD99;
}
.cart-totals ul li:last-child{
    border-bottom: 0px;
}
.cart-totals ul li span{}
.cart-totals .dubble_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
} 
.cart-totals .dubble_btn .viewCart_btn{
    padding: 15px 0;
    background: #252A71;
    width: 80%;
    border-radius: 8px;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition: all .2s ease-in-out;
} 
.cart-totals .dubble_btn .viewCart_btn:hover{
    background: #3E48CA;
    transform: translateY(-2px) scale(1.02);
}
.cart-totals .dubble_btn .share_btn i{
    color: #2C2C31;
    margin-left: 10px;
}
.cart-totals .dubble_btn .share_btn{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
    color: #2C2C31;
    padding-top: 15px;
} 

@-webkit-keyframes Iconfocus {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    25% {
      transform: scale(1.2);
      opacity: 0.2;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    75% {
      transform: scale(1.9);
      opacity: 0.2;
    }
    85% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  @keyframes Iconfocus {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    25% {
      transform: scale(1.2);
      opacity: 0.2;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    75% {
      transform: scale(1.9);
      opacity: 0.2;
    }
    85% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
/* course details end */

/* cart start */
.cart_section{
    background-color: #F6F7F9;
    padding: 30px 0 40px;
    min-height: 70vh;
}
.cart_area{
    margin-top: 25px;
}
.cart_area .cart_details{
    background: #ffffff;
    border-radius: 8px;
    padding: 30px;
}
.cart_area .course_image{
    border-radius: 10px;
    overflow: hidden;
}
.cart_area .course_image img{
    width: 100%;
}
.cart_area .cart_wraps{}
.cart_area .cart_wraps .cart_table{}
.cart_area .cart_wraps .cart_table table thead th{
    color: #2C2C31;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
}
.cart_area .cart_wraps .cart_table table tbody {
    color: #000000;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}
.cart_area .cart_wraps .cart_table table tbody .product_name a{
    text-decoration: none;
    color: #000000;
}
.cart_area .cart_wraps .cart_table table tbody .input-quantity input {
	width: 50px;
	text-align: center;
    border: none;
}
.cart_area .cart_wraps .cart_table table tbody .input-quantity input:focus-visible{
    outline: unset;
}
.cart_area .cart_wraps .coupon_cart{}
.cart_area .cart_wraps .coupon_cart form{
    display: flex;
}
.cart_area .cart_wraps .coupon_cart form input{
    border: 0;
    background: #F6F6F6;
    border-radius: 4px;
    color: #7E7F80;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    padding: 12px;
    margin-right: 8px;
}
.cart_area .cart_wraps .coupon_cart form input:focus{
    outline: 0;
    box-shadow: unset;
}
.cart_area .cart_wraps .coupon_cart form button{
    border: 0;
    border-radius: 4px;
    background: #252A71;
    padding: 12px 0px;
    width: 150px;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
    width: 150px;
    margin-left: 10px;
}
.cart_area .total_amount{}
.cart_area .total_amount .cart-totals{
    border-radius: 8px;
}
.cart_area .total_amount .cart-totals .cart_title{
    color: #2C2C31;font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    padding: 30px 30px 5px 30px;
}
.cart_area .total_amount .cart-totals ul{}
.cart_area .total_amount .cart-totals ul li{
    color: #FD474C;
    font-weight: 600;
}
.cart_area .total_amount .cart-totals .Cart_btn{
    background: #252A71;
    border-radius: 8px;
    text-align: center;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    color: #ffffff;
    margin: auto;
    transition: all .2s ease-in-out;
}
.cart_area .total_amount .cart-totals .Cart_btn:hover{
    background: #3E48CA;
    transform: translateY(-2px) scale(1.02);
}
.cart_area .total_amount .cart-totals .button {
    text-align: center;
    padding-bottom: 25px; 
}
/* cart end */

/* dashboard css start */
.dashboard_wrapper{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background: #F6F7F9;
    padding: 30px 0 20px;

}
.dashboard_wrapper .dashboard_title_tab.active{
    background: #252A71;
    color: #FFFFFF;
} 
.dashboard_wrapper .dashboard_title_tab.active i.my_course{
    border: 1px solid #ffffff;
} 
.dashboard_wrapper .dashboard_title_tab.active i{ 
    color: #FFFFFF;
} 
.dashboard_wrapper .content_wrapper .tab_content{
    display: none;
}
.dashboard_wrapper .content_wrapper .tab_content.active{
    display: block;
} 
.dashboard_wrapper .user_name{ 
    background: #252A71;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    margin: 30px 0 20px; 
} 
.dashboard_wrapper .user_name p{ 
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%; 
    color: #ffffff;
    margin: 0;
} 
.dashboard_wrapper .sidber_menu{ } 
.dashboard_wrapper .sidber_menu ul{
    list-style: none;
    padding: 0;
} 
.dashboard_wrapper .sidber_menu ul li{ 
    color: #2C2C31;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 12px 0; 
    cursor: pointer;
} 
.dashboard_wrapper .sidber_menu ul li i{
    color: #252A71;
    font-size: 20px;
    margin: 0 25px;
} 
.dashboard_wrapper .sidber_menu ul li i.my_course {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 1px solid #252A71;
	font-size: 12px; 
	text-align: center;
	line-height: 20px;
} 
.dashboard_wrapper .content_bg{
    background: #ffffff;
    border-radius: 8px;
    padding: 40px;
    margin-bottom: 20px;
}
.dashboard_wrapper .content_wrapper .tab_content .dashboard_content p{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #2C2C31;
}
.dashboard_wrapper .content_wrapper .tab_content .dashboard_content span{
    color: #2C2C31;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
}
.dashboard_wrapper .content_wrapper .tab_content .order_wraps{}
.dashboard_wrapper .content_wrapper .tab_content .order_wraps .order_table{}
.dashboard_wrapper .content_wrapper .tab_content .order_wraps .order_table table{}
.dashboard_wrapper .content_wrapper .tab_content .order_wraps .order_table table thead tr th{
    color: #2C2C31;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
}
.dashboard_wrapper .content_wrapper .tab_content .order_wraps .order_table table tbody tr td.product_id a,
.dashboard_wrapper .content_wrapper .tab_content .order_wraps .order_table table tbody tr td{
    color: #2C2C31;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-decoration: none;
}
.dashboard_wrapper .content_wrapper .tab_content .account_setting{}
.dashboard_wrapper .content_wrapper .tab_content .account_setting form{}
.dashboard_wrapper .content_wrapper .tab_content .account_setting form label{
    color: #2C2C31;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
}
.dashboard_wrapper .content_wrapper .tab_content .account_setting form input{
    border: 1px solid #E5E7E9;
    border-radius: 9px;
    padding: 12px;font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.dashboard_wrapper .content_wrapper .tab_content .account_setting form input::placeholder{ 
    color: #CACACA;
}
.dashboard_wrapper .content_wrapper .tab_content .account_setting form input:focus{
    box-shadow: unset;
}
.dashboard_wrapper .content_wrapper .tab_content .account_setting form button {
	font-family: 'Hind Siliguri';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	background: #252A71;
	color: #ffffff;
	border-radius: 12px;
	padding: 12px 30px;
	border: 0;
	width: 150px;
	margin: 15px auto 0px;
    transition: all .2s ease-in-out;
}
.dashboard_wrapper .content_wrapper .tab_content .account_setting form button:hover{
    background: #3E48CA;
    transform: translateY(-2px) scale(1.02);
}
/* dashboard css end */
 

/* Footer start */
.footer{
    padding: 30px 0 20px;  
    background: #252A71;
} 
.footer .footer_top{} 
.footer .footer_top .contact_info{}
.footer .footer_top .contact_info ul{
    list-style: none;
    padding: 0;
}
.footer .footer_top .contact_info ul li{
    color: #ffffff;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 5px;
}
.footer .footer_top .contact_info ul li i{
    font-size: 25px;
    margin-right: 20px;
}
.footer .footer_top .item_title{}
.footer .footer_top .item_title h3{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    line-height: 76px;
}
.footer .footer_top .footer_menu{}
.footer .footer_top .footer_menu ul{
    list-style: none;
    padding: 0;
}
.footer .footer_top .footer_menu ul li{
    margin-bottom: 5px;
}
.footer .footer_top .footer_menu ul li a{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    line-height: 21px;
}
.footer .footer_bottom{
    padding-top: 20px;
    border-top: 1px solid #B8B6DF80;
}
.footer .footer_bottom p{
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff; 
    line-height: 26px;
    margin-bottom: 0;
}
.footer .footer_bottom p a{
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;

}
/* Footer end */